.circle {
    display: flex;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden; /* Garante que a imagem fique dentro do círculo */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #333;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta a imagem para cobrir o círculo */
}