.dark-mode-toggle {
    cursor: pointer;
    font-size: 24px;
}

body.dark-mode {
    background-color: #121212;
    color: #f5f5f5;
}  

.loader-container.dark-mode {
    background-color: #121212;
}